# Kickstart syntax - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/installation_guide/sect-kickstart-syntax

# Required settings
lang en_US.UTF-8
keyboard us
rootpw vagrant
authconfig --enableshadow --enablemd5
timezone UTC

# Optional settings
install
cdrom
user --name=vagrant --plaintext --password vagrant
# Centos8 Bug - Removed kickstart commands
# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/considerations_in_adopting_rhel_8/index
#unsupported_hardware
network --device eth0 --bootproto=dhcp
firewall --disabled
selinux --permissive
# The biosdevname and ifnames options ensure we get "eth0" as our interface
# even in environments like virtualbox that emulate a real NW card
bootloader --location=mbr --append="no_timer_check console=tty0 console=ttyS0,115200 net.ifnames=0 biosdevname=0"
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot

####################################################
# Installation
#
# Mode of Installation - use text/graphical install
#text
# Install OS from the cdrom.
#install
#cdrom

# Locale - Sets the language to use during installation and the default language to use on the installed system.
#   Use `localectl` to show currently set values
#   Use `localectl list-locales` to list all supported languages
#lang en_US.UTF-8
# Locale - Sets one or more available keyboard layouts for the system.
#   Use `localectl list-keymaps` to list all keyboard layouts
#keyboard us
# Locale - Time zone
#   Use `timedatectl list-timezones` to list timezones
#timezone UTC


# Sets up the authentication options for the system using the authconfig command
# DEPRECATED WITH RHEL8
# auth --enableshadow --passalgo=sha512 --kickstart
#authselect --useshadow --passalgo sha512
# Sets the system's root password to the password argument.
#rootpw --plaintext vagrant
# Specify the firewall configuration for the installed system.
#firewall --disabled
# Creates a new user on the system.
#user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel
# Configures network information for the target system and activates network devices in the installation environment.
#network --bootproto=dhcp --hostname=rhel8


# Sets the state of SELinux on the installed system. The default SELinux policy is enforcing.
# permissive - outputs warnings based on the SELinux policy but does not enforce the policy
#selinux --permissive

# Determine whether the Initial Setup application starts the first time the system is booted. 
#firstboot --disabled
# Reboot after the installation is successfully completed
#reboot

# System bootloader configuration - specify where the boot record is written (default = mbr)
#bootloader --location=mbr
# Removes partitions from the system, prior to creation of new partitions.
#clearpart --all --initlabel
# Automatically creates partitions: a root (/) partition (1 GB or larger), a swap partition, and an appropriate /boot partition for the architecture. On large enough drives (50 GB and larger), this also creates a /home partition.
#   Selects one of the predefined automatic partitioning schemes: --type=[lvm,btrfs,plain,thinp]
#   Selects one of the available file system types: --fstype=[ext2, ext3, ext4, xfs (default), and vfat]
#   Encrypts all partitions: --encrypted
#autopart
# Any invalid partition tables found on disks are initialized. This command is required when performing an unattended installation on a system with previously initialized disks.
#zerombr


# Suppress the Unsupported Hardware Detected alert which would stall the installation
# If present, X is not configured on the installed system.
#skipx

# Accept the End User License Agreement (EULA) without user interaction. 
eula --agreed
# Modifies the default set of services that will run under the default systemd target. Do NOT use spaces between service names.
#services --enabled=NetworkManager,sshd,chronyd


# Package Selection section
#   --ignoremissing Ignore any packages, groups and environments missing in the installation source, instead of halting the installation
#   --excludedocs Do not install any documentation contained within packages
#   List package groups using `yum group list ids`

# Centos8 Bug - Removed --nobase option
# https://bugzilla.redhat.com/show_bug.cgi?id=1246367
#%packages --nobase --ignoremissing --excludedocs
%packages --ignoremissing --excludedocs
# Vagrant needs this to copy initial files via scp
openssh-clients
# Prerequisites for installing VMware Tools or VirtualBox guest additions.
# Put in kickstart to ensure first version installed is from install disk,
# not latest from a mirror.
kernel-headers
kernel-devel
elfutils-libelf-devel
gcc
make
perl
curl
wget
which
tar
bzip2
dkms
patch
net-tools
selinux-policy-devel
git
# Core selinux dependencies installed on 7.x, no need to specify
# Other stuff
sudo
nfs-utils
-fprintd-pam
-intltool
# Microcode updates cannot work in a VM
-microcode_ctl
# unnecessary firmware
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-kernel-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
# Don't build rescue initramfs
-dracut-config-rescue
%end


%post
# Update packages
yum update -y

# Configure vagrant user in sudoers
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers

# Keep proxy settings through sudo
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
%end